<h1> User profile page </h1>
<% if @jobs.exists? %>
    <% @jobs.each do |job| %>
        <p>Title: <%= job.title %></p>
        <p>Description: <%= job.description %></p>
        <p>Candidates:<p>
        <% job.submissions.each do |candidate| %>
            <p> Name: <%= candidate.name %></p>
            <p> Status: <%= candidate.status %></p>
        <% end %>
    <% end %>
<% else %> 
<p> You have no active jobs </p>
<% end %>
<% if @submissions.exists? %>
    <% @submissions.each do |submission| %>
    <% end %>
<% else %>
<p> You have no active submissions </p>
<% end %>
<% render 'submissions/form' %>
