<%= title "New company" %>

<%= render 'partials/alerts' %>

<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="blog-area">
          <%= render 'form' %>
        </div>
      </div>
    </div>
  </div>
</section>
